.container {
  width: 375px;
}

header, footer {
  background-color: #294889;
  color: #fff;
  padding: 20px;
}

header div {
  background-color: #294889;
  display: inline-block;
}

.location {
  text-align: center;
  margin: auto;
  width: 80%;
}

.left-arrow {
  float: left;
}

li {
 display: flex;
 margin-left: 15px;
 width: 100%;
}

.info {
  float: right;
}

span {
  display: flex;
}

.stops-list {
  display: inline-block;
  width: 100%;
}

.stop-info {
  display: inline-block;
  align-items: center;
  border-bottom: 1px solid #294889;
  padding: 20px;
  width: 75%
}

 .stop-badge {
   margin: 10px;
   display: inline-block;
   border: 1px solid #294889;
   border-radius: 5px;
   padding: 20%
   width: 20%
   height: 5%
   align-items: center;
}

.eta {
  width: 20%;
  display: inline-block;
  border-bottom: 1px solid #294889;
}

.arrow-right {
  display: flex;
  width: 10%;
}
